.inquirymenu{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 500px;
    height: 300px;
    font-family: Arial, sans-serif;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#inquiryForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}


.inquiryLabel {
  margin-bottom: 5px;
  font-weight: bold;
  position: relative;
  left: -45%;
}

.inquiryText {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

.inquiryCon{
	width: 97%;
	height: 115px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.inquirySubmit {
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inquirySubmit:hover {
  background-color: #0088f5;
}

.inquiryBody{
	font-size: 23px;
    font-weight: bold;
}

.inquiryClose {
 position: absolute;
 top: 6px;
 right: 10px;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
}

