/*ss*/
 body {
        margin: 0;
      }
textarea {
	width: 90%;
	margin: 0 auto;
}
.tiger{
	width: 5vh;
	height: 6vh;

	}
	.tiger_chat{
	width: 5vh;
	height: 6vh;
	float: left;
	padding-right: 5px;
	}
#top {
	background-color:#75aafe;
	text-align: center;
	height: 7vh; width : 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0px;
}

#button {
	background-color: azure;
	height: 500px;
	width: 100%;
	margin: auto;
}

#chat {
	background-color: darkslategrey;
	height: 100vh;
	display: flex;
}

#chatM {
	background-color: blue; width : 100%;
	display: flex;
	width: 100%
}
.footer{
	height: 5vh;

	}