/*ss*/
 body {
        margin: 0;
      }
textarea {
	width: 90%;
	margin: 0 auto;
}

#top {
	background-color: yellow;
	text-align: center;
	height: 5vh; width : 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#button {
	background-color: azure;
	height: 500px;
	width: 100%;
	margin: auto;
}

#chat {
	background-color: darkslategrey;
	height: 100vh;
	display: flex;
}

#chatM {
	background-color: blue; width : 100%;
	display: flex;
	width: 100%
}
.footer{
	height: 5vh;

	}